:root {
    --just-white: #FFFFFF;
    --off-white: #FAF8F7;
    --soft-orange: #FFE9D4;
    --warm-black: #201E1C;
    --grey: #757575;
    --orange: #FF9536;
    --blue: #1A9AF7;
    --table-content: #B5B0AC;
    --dates: #282623;
    --black-content: #808080;
    --black: #000000;
    --soft-blue: #E7F5FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'DM sans',sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1{
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
}

.header--title-container p{
    color: var(--soft-orange);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.header--title-container .header--button{
    position: absolute;
    left: calc(50% - 115px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px 0px #59491E29;
    border: none;
    border-radius: 4px;
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 18.23px;
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 9px;
    margin-left: 10px;
    background-image: url('../assets/icons/keyboard_arrow_down.svg');
    background-position: center;
}